* {
    box-sizing: border-box;
}

body {
    height: 100%;
    font-size: 24px;
    color: black;
    display: block;
    text-align: center;
    background-color: #404e5c;
}

/*baseline media sizing, mobile first */
.index-body {
    background-color: white;
}

.main-title {
    display: none;
}

.index-header {
    background-color: #404e5c;
    color: white;
    margin: 0px;
    padding: 40px;
    height: 40%;
    width: 100%;
    display: block;
    font-size: 30px;
}

.page-header {
    background-color: white;
    color: #404e5c;
    margin: 0px;
    padding: 40px;
    height: 40%;
    width: 100%;
    display: block;
    font-size: 30px;
}

.main-nav {
    background-color: white;
    color: #404e5c;
    display: block;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 20px;
    line-height: 2;
    color: black;
}

.navbar,
.content {
    background-color: #404e5c;
    color: white;
}

.navbar {
    display: block;
    text-align: right;
    width: 100%;
    margin-bottom: 5px;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.content-nav {
    /*begins as hamburger icon then becomes words on desktop*/
    display: none;
    position: absolute;
    right: 0;
    left: auto;
    z-index: 1;
    font-size: 20px;
    background-color: whitesmoke;
    width: 180px;
}

/*show the dropdown on hover*/
.nav-dropdown:hover .content-nav {
    display: block;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project {
    width: 300px;
    font-size: 2.5vh;
    align-items: center;
    text-align: left;
    color: white;
}

.projects img {
   margin: auto;
    width: 298px;
    height: 298px;
    align-items: center;
}

#appFig {
    margin-top: 10px;
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    max-width: 320px;
    margin: auto;
    justify-content: center;
}

#appFigCaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}



a.button,
a.index-button,
a.aside-header {
    background-color: none;
    border: none;
    padding: 10px;
    text-decoration: none;

}

a.projects-button {
    border: 2px solid lightgray;
    padding: 6px;
    text-decoration: none;
    min-width: 250%;
    background-color: white;
    color: darkslategray;
    
}

a.projects-button:visited {
    border: 2px solid lightgray;
    background-color: white;
    color: darkslategray;
}

a.projects-button:hover {
    border: 1px solid lightgray;
    padding: 8px;
    text-decoration: none;
    background-color: gray;
    color: white;
}


a.dropdown {
    border: #536E5B;
    padding: 8px;
    text-decoration: none;
}

a.button:hover,
a.dropdown:hover,
a.index-button:hover {
    background-color: whitesmoke;
    border: 2px solid darkslategray;
    color: darkslategray;
    margin: 1px;
}

a.button:visited,
a.aside-header:visited,
a.index-button:visited,
a.dropdown:visited {
    color: darkslategray;
}

a:visited {
    background-color: darkslategray;
    color: white;
}

a {
    text-decoration: none;
}

.extra-line-height {
    padding-bottom: 30px;

}

.circle1 {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 350px;
    padding: 25px;
    background: white;
    color: #404e5c;
    border-radius: 50%;
    overflow: hidden;
}

.circleshape {
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 2vh;
}

.fullpage-nav,
.aside {
    display: none;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#contact {
    background-color: white;
    border: 3px white solid;
    padding: 10px;
    margin: 10px;
    color: #404e5c;
    align-self: center;
    font-size: 3vh;
}

.social-links,
.contact-info {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-links img {
    width: 64px;
    background-color: white;
}

#linkedin {
    margin: 3px;
}

#linkedInFigCaption {
    font-size: 2vh;
    color: #404e5c;
    padding-right: 5px;
}

#gitHubFigCaption {
    font-size: 2vh;
    color: #404e5c;
    padding-right: 5px;
}

@media screen and (min-width: 500px) {
    .circle1 {
        height: 400px;
        width: 400px;
    }

    .circleshape {
        font-size: 2.4vh;
    }

    .contact-container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .project {
        width: 400px;
        font-size: 2.5vh;
        align-items: center;
        text-align: left;
    }

    #appFig {
        margin-top: 10px;
        border: thin #c0c0c0 solid;
        display: flex;
        flex-flow: column;
        max-width: 420px;
        margin: auto;
        justify-content: center;
       
    }
    
    #appFigCaption  {
        background-color: #222;
        color: #fff;
        font: italic smaller sans-serif;
        padding: 3px;
        text-align: center;
    }

    .projects img {
        width: 398px;
        height: 398px;
    }

    a.projects-button {
        width: 60%;
        margin-right: 15px;
    }

    #linkedInFigCaption {
        padding-top: 6px;
    }
    
}

/*sizing tablets small laptops*/
@media screen and (min-width: 768px) {

    body {
        background-color: #404e5c;
        font-size: 30px;
    }

    .content {
        display: flex;
        flex-direction: row;
        color: white;
        height: 100vh;
        padding: 0px;
        margin: 0px;
    }

    .index-content {
        display: flex;
        flex-direction: row;
        background-color: #404e5c;
        height: 100vh;
    }

    .index-header {
        display: none;
    }

    .page-header {
        background-color: white;
        color: #404e5c;
        margin: 0px;
        padding: 40px;
        height: 40%;
        width: 100%;
        display: block;
        font-size: 35px;
    }

    .item {
        height: 100%;
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        width: 200px;
        background-color: white;
        color: #404e5c;
        justify-content: space-evenly;
        text-align: right;
    }

    .main-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-size: 50px;
    }

    .circle1 {
        height: 550px;
        width: 550px;
    }

    .circleshape {
        font-size: 2.8vh;
    }

    .contact-form {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
    }

    .project {
        width: 400px;
        font-size: 2.5vh;
        align-items: center;
        text-align: left;
    }


    #appFig {
        margin-top: 10px;
        border: thin #c0c0c0 solid;
        display: flex;
        flex-flow: column;
        max-width: 420px;
        margin: auto;
        justify-content: center;
       
    }
    
    #appFigCaption  {
        background-color: #222;
        color: #fff;
        font: italic smaller sans-serif;
        padding: 3px;
        text-align: center;
    }
    .projects img {
        width: 398px;
        height: 398px;
    }
    a.projects-button {
        border: 1px solid lightgray;
        padding: 8px;
        text-decoration: none;
        width: 40%;
        background-color: white;
        color: gray;
    }

    a.projects-button:hover {
        border: 1px solid lightgray;
        padding: 8px;
        text-decoration: none;
        width: 40%;
        background-color: gray;
        color: white;
    }
}

@media screen and (min-width: 1100px) {

    /*sizing tablets and desktop*/
    body {
        font-size: 35px;
        padding: 0px;
        margin: 0px;
    }

    .hamburger,
    .page-header,
    .navbar {
        display: none;
    }

    .index-body {
        background-color: white;
    }

    .index-content {
        display: flex;
        flex-direction: row;
        background-color: white;
        height: 100vh;
    }

    /*index page title*/
    .main-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        color: #404e5c;
        font-size: 50px;
        background-color: white;
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        width: 300px;
        background-color: #404e5c;
        color: white;
        justify-content: space-evenly;
        text-align: right;
    }

    a.index-button:visited {
        color: white;
    }

    a.index-button:hover {
        background-color: white;
        color: darkslategray;
    }

    a.projects-button {
        border: 2px solid lightgray;
        padding: 8px;
        text-decoration: none;
        width: 30%;
        background: white;
        color: gray;
        box-shadow: 2em

    }

    a.projects-button:hover {
        border: 2px solid lightgray;
        padding: 8px;
        text-decoration: none;
        width: 30%;
        background:gray;
        color:white;
        box-shadow: 2em

    }

    .aside {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 300px;
        left: 0;
        background-color: white;
        color: #404e5c;
    }

    .fullpage-nav {
        display: flex;
        flex-direction: column;
        width: 300px;
        justify-content: space-evenly;
        text-align: right;
    }

    .circle1 {
        height: 600px;
        width: 600px;
    }

    .circleshape {
        font-size: 3vh;
    }

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-left: auto;
        margin-right: auto;
        color: #404e5c;
        font-size: 35px;
        height: 100%;
    }

    .content-projects {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: center;
        justify-content: flex-start;
        margin-left: auto;
        margin-right: auto;
        color: #404e5c;
    }

    .projects {
        display: flex;
        flex-direction: column;
        /* bring in with second app align-items: top;*/
        justify-content: center;
        align-items: center;
        color: white;
    }

    .project {
        /*padding: 10px;*/
        font-size: 2.5vh;
        align-items: center;
        text-align: left;
        width: 600px;
        margin-top: 10px;
    }

    #appFig{
        margin-top: 10px;
        border: thin #c0c0c0 solid;
        display: flex;
        flex-flow: column;
        max-width: 352px;
        margin: auto;
        justify-content: center;
       
    }
    
    #appFigCaption {
        background-color: #222;
        color: #fff;
        font: italic smaller sans-serif;
        padding: 3px;
        text-align: center;
    }

    .project img {
        width: 350px;
        height: 350px;
        margin: 0px;
    }

}