* {
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    font-size: 24px;
    color: black;
    display: block;
    text-align: center;
    background-color:#404e5c;
  }
  
  /*baseline media sizing, mobile first */
.index-body {
    background-color: white;
}

.main-title{
    display: none;
}
.index-header {
    background-color: #404e5c;
    color:white;
    margin: 0px;
    padding: 40px;
    height: 40%;
    width: 100%;
    display: block;
    font-size: 30px;
}

.page-header {
    background-color:white ;
    color:#404e5c;
    margin: 0px;
    padding: 40px;
    height: 40%;
    width: 100%;
    display: block;
    font-size: 30px;

}
.main-nav { 
    background-color: white;
    color:#404e5c;
    display: block;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 20px;
    line-height: 2;
    color: black;
}

.navbar, .content {
    background-color: #404e5c;  
    color: white;
  }

.navbar {
    display: block;
    text-align: right;
    width: 100%;
}



.nav-dropdown {
    position: relative;
    display: inline-block;
}   

.content-nav {
/*begins as hamburger icon then becomes words on desktop*/
        display: none;
        position: absolute;
        right: 0;
        left: auto;
        z-index: 1;   
        font-size: 20px;
        background-color: whitesmoke;
    }


 
/*show the dropdown on hover*/
.nav-dropdown:hover .content-nav {
    display: block;
    
}

.projects{
    display: flex;
    display: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project{
    width: 200px;
    font-size: 2vh;
}
.projects > img {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
}

a.button, a.index-button, a.aside-header {
    background-color:none;
    border: none;
    padding: 10px;
    text-decoration: none;
}

a.dropdown {
    border: #536E5B;
    padding: 10px;
    text-decoration: none;
}

a.button:hover, a.index-button:hover, a.dropdown:hover {
    background-color: whitesmoke;
    border: 2px solid darkslategray;
    color: darkslategray;
}

a.button:visited, a.aside-header:visited, a.dropdown:visited {
    color: darkslategray;
}

a.index-button:visited {
    color:  #536E5B;
}

.circle1 {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 350px;
    padding: 25px;
    background: white;
    color: #404e5c;
    border-radius: 50%;
    overflow: hidden;
}
.circleshape {
transform:translate(-50%,-50%);
  position:relative;
  top:50%;
  left:50%;
  font-size: 2vh;
}

.fullpage-nav, .aside {
    display: none;
}

#Contact {
    background-color: white;
    border: 3px white solid;
    padding: 10px;
    margin: 10px;
    color: #404e5c;
    align-self: center;
}

@media screen and (min-width: 500px) {
    .circle1 {
        height: 400px;
        width: 400px; 
    }


    .circleshape {
          font-size: 2.4vh;
        }
        
    }
    /*sizing tablets small laptops*/
 @media screen and (min-width: 768px) {

    body {
        background-color: #404e5c;
        font-size: 30px;
    }
    .content {    
        display: flex;
        flex-direction: row;
        color: white;
        height: 100vh;
        padding: 0px;
        margin: 0px;     
      }

      .index-content {
        display: flex;
        flex-direction: row;
        background-color:#404e5c ;
        height: 100vh;
    }  

    .index-header {
        display: none;
    }

    .page-header {
        background-color:white;
        color: #404e5c;
        margin: 0px;
        padding: 40px;
        height: 40%;
        width: 100%;
        display: block;
        font-size: 35px; 
    }

   .item { 
    height: 100%;
    }

    .main-nav{  
        display: flex;
        flex-direction: column;     
        width: 200px;
        background-color: white;
        color:#404e5c;
        justify-content: space-evenly;
        text-align: right;   
    }
    
    .main-title {   
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-size: 50px;     
    }

    .circle1 {
         height: 550px;
         width: 550px;    
     }

     .circleshape {
        font-size: 2.8vh;
      }
      
     .contact-form {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }


    .projects {
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        color: white;
        font-size: 35px;   
    }

    .project {
        margin: 15px;
        padding: 15px;
        font-size: 2vh;
        width: 300px;
        text-align: left;
    }

    .project img{
        width: 300px;
        height: 300px;
    }
    
    
   
  } 




  
  
  @media screen and (min-width: 1100px) {
  
    /*sizing tablets and desktop*/
    body {
        font-size: 35px;
        padding: 0px;
        margin:0px;   
    }

    .hamburger, .page-header, .navbar {
        display: none;
        }

        .index-body {
            background-color: white;
        }
    
        .index-content {
            display: flex;
            flex-direction: row;
            background-color: white;
            height: 100vh;
        }
    
        /*index page title*/
          .main-title {   
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            color: #404e5c;
            font-size: 50px;
            background-color: white;     
        }
    
        .main-nav {  
            display: flex;
            flex-direction: column;     
            width: 300px;
            background-color: #404e5c;
            color: white;
            justify-content: space-evenly;
            text-align: right;
            
        }

    .aside {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 300px;
        left: 0;
        background-color: white;
        color: #404e5c;
    }


    .fullpage-nav {  
        display: flex;
        flex-direction: column;     
        width: 300px;
        justify-content: space-evenly;
        text-align: right;     
    }

    .circle1 {
         height: 600px;
         width: 600px;  
     }

     .circleshape {
        font-size: 3vh;
      }
      
    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-left: auto;
        margin-right: auto;
        color: #404e5c;
        font-size: 35px;   
    }
  }
  